<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="layout">
 


    <header class="header">
      <a href="{{ '/' | relative_url }}"  class="logo backlink">{{ site.title }}</a>
    </header>

    <main class="overview transition-main">

      {% if page.layout == 'default' %}
      
      <h1>
        <span>{{page.title}}</span>
        
      </h1>
      
      {% endif %}

      {% if page.url == "/" %}
      {% include posts-list.html %}
      {% endif %}
        
{{ content }}
    </main>
    </div>
  </body>
</html>
